html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-image: url("../imagenes/destellos.gif");
}

header h1 {
  color: white;
  background-color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 3rem 2rem;
  font-size: 3rem;
  text-align: center;
  border-radius: 5rem;
}

h2 {
  font-size: 2.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

h3 {
  font-size: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  filter: drop-shadow(grey 2px 2px);
}

h4 {
  font-size: 1.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  filter: drop-shadow( rgb(170, 87, 248) 2px 2px);
}

h5 {
  font-size: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body p {
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body p:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #222;
  padding: 3rem;
  color: rgb(235, 156, 156);
  border-radius: 0.5rem;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  width: 800px;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 800px;
  margin: 0 auto;
  border-radius: 0.3rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.25rem 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: none;
  border-radius: 0.5rem;
  width: 800px;
  margin: 1rem auto;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


}
#espaciotiempo {
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem;
}
#hi {
  display: block;
  filter: drop-shadow(grey 5px 5px);
  margin-left: 180px;
  margin right: 100px;
}
#lorentz {
  display: block;
  filter: drop-shadow (green 10px 10px);
  margin-left: 180px;
  padding: 1rem 1rem;
}
#marcosdereferencia {
  filter: drop-shadow (green 10px 10px);
  margin-left: 180px;
  padding: 1rem 1rem;
}
#coordinado {
  display: block;
  margin-left: 300px;
  margin-right: 300px;
  display: block;
  filter: grayscale(10%) drop-shadow(8px 8px purple);
}
#galileo{
  margin-left: 300px;
  margin-right: 300px;
}

#otrasmagnitudes {
  display: block;
  margin-left: 300px;
  margin-right: 300px;
  display: block;
  filter: grayscale(15%) drop-shadow(7px 7px darkblue);
}
#AlbertEinstein{
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px grey);
}
#lorentzyeinstein {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px grey);
}